# Ignore node_modules directory
node_modules/

# Ignore tests directory
tests/

# Ignore .env file
.env

# Ignore log files
*.log

# Ignore npm-debug files
npm-debug.log*

# Ignore the .vscode directory (optional, if you're using VSCode)
.vscode/

# Ignore build directories (optional, if applicable)
build/

# Ignore coverage directories (optional, if you're using testing coverage tools)
coverage/

# Ignore any other environment-specific files you might not want to track
*.env.*
